@charset "utf8";
/* 
Paletas de cores do site
#10CB61
#3D9362
#3D6950
#2E3E35
#07391D
#2FBE6D

*/
/*Fontes*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face{
    font-family: 'Android';
    src: url('../fontes/idroid.otf');
    font-weight: normal;
}
/* Global*/
*{margin: 0px;padding: 0px;}

/* variavel de cores*/
:root{
     --cor0:   #10CB61;
     --cor1:   #3D9362;
     --cor2:   #3D6950;
     --cor3:   #ffffff;
     --cor4:   #07391D;
     --cor5:   #2FBE6D;

     --fonte-padrao: arial, verdana, sans-serif;
     --fonte-destaque: 'Bebas Neue';
     --fonte-android: 'Android', 'cursive';
}
/*Principal*/
body{
    background-color:#50b97e;
    font-family: var(--fonte-padrao);
}
header{background-color:var(--cor5);}
nav{background-color: var(--cor2);}
main{background-color: #ffffff;}
header > h1 {
    color: #ffffff;
    font-family: var(--fonte-destaque);
}
main h1{
    color: var(--cor4);
    font-family: var(--fonte-android);
}

h2{font-family: var(--fonte-android);}
footer{background-color: var(--cor4);color: var(--cor3);text-align: center;}
